# Godot 4+ specific ignores
.godot/
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1002_Emissive.png.import
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1002_Glossiness.png
maps/testingOnly/brush_test.vmf
maps/testingOnly/disp_ent_test.vmf
maps/testingOnly/disp_test.vmf
maps/testingOnly/tests.tscn
models/testingOnly/guns/pistol.glb
models/testingOnly/guns/pistol.glb.import
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_ao_met_rough_Ch15_1001_Glossiness.png
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_ao_met_rough_Ch15_1001_Glossiness.png.import
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_ao_met_rough_Ch15_1002_Glossiness.png
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_ao_met_rough_Ch15_1002_Glossiness.png.import
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_Ch15_1001_Diffuse.png
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_Ch15_1001_Diffuse.png.import
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_Ch15_1001_Normal.png
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_Ch15_1001_Normal.png.import
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_Ch15_1002_Diffuse.png
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_Ch15_1002_Diffuse.png.import
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_Ch15_1002_Emissive.png
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_Ch15_1002_Emissive.png.import
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_Ch15_1002_Normal.png
models/testingOnly/swat/Ch15_nonPBR-41a421b4e4dddd525f4e3ce777459591_Ch15_1002_Normal.png.import
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_ao_met_rough_Ch15_1001_Glossiness.png
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_ao_met_rough_Ch15_1001_Glossiness.png.import
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_ao_met_rough_Ch15_1002_Glossiness.png
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_ao_met_rough_Ch15_1002_Glossiness.png.import
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_Ch15_1001_Diffuse.png
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_Ch15_1001_Diffuse.png.import
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_Ch15_1001_Normal.png
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_Ch15_1001_Normal.png.import
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_Ch15_1002_Diffuse.png
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_Ch15_1002_Diffuse.png.import
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_Ch15_1002_Emissive.png
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_Ch15_1002_Emissive.png.import
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_Ch15_1002_Normal.png
models/testingOnly/swat/Ch15_nonPBR-736c2b44eb65b4e285791d845772e127_Ch15_1002_Normal.png.import
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1001_Diffuse.png
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1001_Diffuse.png.import
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1001_Glossiness.png
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1001_Glossiness.png.import
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1001_Normal.png
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1001_Normal.png.import
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1001_Specular.png
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1001_Specular.png.import
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1002_Diffuse.png
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1002_Diffuse.png.import
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1002_Emissive.png
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1002_Glossiness.png.import
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1002_Normal.png
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1002_Normal.png.import
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1002_Specular.png
models/testingOnly/swat/Ch15_nonPBR.fbm/Ch15_1002_Specular.png.import
models/testingOnly/swat/Ch15_nonPBR.fbx
models/testingOnly/swat/Ch15_nonPBR.fbx.import
models/testingOnly/swat/idle.fbx
models/testingOnly/swat/idle.fbx.import
